html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Lora, serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 2rem;
}

img {
  display: block;
  width: 100%;
}

.banner {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav li {
padding: 1rem;
font-weight: 500;
}

h3 {
  font-size: 1rem;
  width: 7rem;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-family: "Abril Fatface", serif;
  text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
padding-top: 5rem;
}

.description {
  text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
  padding-bottom: 7rem;
  max-width: 40rem;
}

ul {
  list-style: none;
}

section {
  display: grid;
  grid-template-columns: 1fr .25fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

a:nth-child(odd) {
  grid-column: 3 / 4;
}

a:nth-child(even) {
  grid-column: 1 / 2;
}

a:nth-child(1) {
  grid-row: 1 / 2;
}

a:nth-child(2) {
  grid-row: 2 / 3;
}

a:nth-child(3) {
  grid-row: 3 / 4;
}

a:nth-child(4) {
  grid-row: 4 / 5;
}

a:nth-child(5) {
  grid-row: 5 / 6;
}

a:nth-child(6) {
  grid-row: 6 / 7;
}

h2 {
  text-align: center;
}

.hover-box {
  position: relative;
  overflow: hidden;
  color: #fff;
}

.hover-box h2 {
  position: absolute;
  bottom: -7em;
  width: 100%;
  padding: 7rem;
  margin: 0;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0, 0, 0, 0.5));
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
  transition: all .3s linear;
}

.hover-box:hover h2,
.hover-box:focus h2 {
  bottom: 0;
}

.hover-box img {
  filter: grayscale(100%);
  transition: all .3s linear;
}

.hover-box:hover img,
.hover-box:focus img {
  filter: grayscale(0);
  transform: scale(1.1)
}
