html {
  box-sizing: border-box;
  webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Quicksand, sans-serif;
  line-height: 1.2;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f9f1f1;
}

img {
  display: block;
  width: 100%;
}

.logo {
  height: 100%;
  padding: 4rem;
  padding-bottom: 0;
}

.divbanner {
  background-color: #C4A589;
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-rows: 1fr;
  align-content: flex-end;
  margin: 0;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

nav li {
  padding: 1rem;
  font-weight: 500;
}

.nav {
  margin-right: 10rem;
  margin-bottom: 0;
}

h3 {
  padding: 3rem;
  font-size: 1.75rem;
  color: #fff;
}

h3:hover {
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

.whitecircle {
  width: 18rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 5rem;
}

.eyeball {
  transform: rotate(0deg);
  transition-delay: 1s;
  transition: all 3s ease;
}

.eyeball:hover {
  transform: rotate(45deg);
  transition-delay: 1s;
  transition: all 1s ease;
}

.whitecircle{
  transform: translate(0, 0px);
  transition: all .5s ease;
}


.whitecircle:hover {
  transform: translate(0, -20px);
  transition: all .5s ease;
}

h1 {
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description {
  text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
  padding-bottom: 0;
  max-width: 40rem;
  font-size: 2rem;
}

.seconddescription {
  text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
  padding-bottom: 0;
  max-width: 40rem;
  font-size: 2rem;
}

ul {
  list-style: none;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  grid-gap: 3%;
  margin: 5rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: lighter;
  background-color: #000;
}

.hover-box {
  position: relative;
  overflow: hidden;
  color: #fff;
}

.hover-box h2 {
  position: absolute;
  bottom: -10em;
  width: 100%;
  padding: 1rem;
  margin: 0;
  text-align: center;
  transition: all .3s linear;
}

.hover-box:hover h2,
.hover-box:focus h2 {
  bottom: 0;
}

.hover-box img {
  filter: grayscale(0);
  transition: all .3s linear;
}

.hover-box:hover img,
.hover-box:focus img {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.card {
  box-shadow: -6px 8px 6px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10%;
}

.footer {
  background-color: #C4A589;
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-rows: 1fr;
  align-content: flex-end;
  margin: 0;
  align-content: center;
}

small {
  padding: 2rem;
  display: block;
}
